@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800&display=swap");

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(221, 221, 221);
  padding: 0.8rem 2rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.company__name {
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: #4c4c4c;
}

.search__bar {
  width: 30%;
}

#search__input {
  width: 100%;
  padding: 0.7rem;
  font-size: 1rem;
  border-radius: 50px;
  outline: none;
  border: none;
  box-shadow: inset 0px 0px 0px 1px #566171;
}

@media (max-width: 1170px) {
  .search__bar {
    width: 50%;
  }
}

@media (max-width: 720px) {
  .search__bar {
    width: 60%;
  }
}

@media (max-width: 570px) {
  .header {
    flex-direction: column;
    gap: 1rem;
  }
  .search__bar {
    width: 100%;
  }
}
